<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taotaohai">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Needed to store received images if the user wants to -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- Needed to use our own Contact editor -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera" />
    //UM
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    //支付宝
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Home"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1282" />
        //支付宝
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.MyBook" />
        <activity android:name=".activity.Search" />
        <activity android:name=".activity.SearchGoods" />
        <activity android:name=".activity.Regist" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.ReNameActivity" />
        <activity android:name=".activity.MyDataActivity" />
        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.RePassword" />
        <activity android:name=".activity.OpinionActivity" />
        <activity android:name=".activity.AddressManeger" />
        <activity android:name=".activity.AddAdressActivity" />
        <activity android:name=".activity.MyfocusActivity" />
        <activity android:name=".activity.ShopActivity" />
        <activity android:name=".activity.ShopIntroducActivity" />
        <activity android:name=".activity.PhotoActivity" />
        <activity android:name=".activity.Evaluation" />
        <activity android:name=".activity.Refund" />
        <activity android:name=".activity.LogisActivity" />
        <activity android:name=".activity.Bookdetial" />
        <activity android:name=".activity.ReFundListActivity" />
        <activity android:name=".activity.ReFundDetialActivity" />
        <activity android:name=".activity.ShopCarActivity" />
        <activity android:name=".activity.OrderSureActivity" />
        <activity android:name=".activity.GoodsDetialActivity" />
        <activity android:name=".activity.ShopMoreActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.ForgetPassword" />
        <activity android:name=".activity.LocationActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XDTyjLmvCK3xX4Hf6Ty9Mnh1gFRw4Sws" />

        <activity android:name=".activity.JiLiangActivity" />
        <activity android:name=".wxapi.WXEntryActivity" />
        <activity android:name=".activity.Seachend"></activity>
        <activity android:name=".activity.SeachendGoods"></activity>
    </application>

</manifest>